<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navbar-brand-custom" href="/trangchu">
        <h3>Trang Chủ</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link ml-4" href="/create">
                    <h4>Thêm Sản Phẩm Mới</h4>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-4" href="/me/store">
                    <h4>Sản phẩm của tôi</h4>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 navbar-form" action="/search">
            <input class="form-control form-control-custom mr-sm-3" type="search" placeholder="Tìm sản phẩm" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
    </div>
</nav>
